<div id="main-content">
    <div class="row">
        <div class="col-lg-3">
            <div class="card">
                <div class="stat-widget-five">
                    <div class="stat-icon">
                        <i class="ti-home bg-primary"></i>
                    </div>
                    <div class="stat-content">
                        <div class="stat-heading color-primary">New User</div>
                        <div class="stat-text">2700</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="card">
                <div class="stat-widget-five">
                    <div class="stat-icon">
                        <i class="ti-file bg-success"></i>
                    </div>
                    <div class="stat-content">
                        <div class="stat-heading color-success">Profit</div>
                        <div class="stat-text">3600000</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="card">
                <div class="stat-widget-five">
                    <div class="stat-icon">
                        <i class="ti-info bg-danger"></i>
                    </div>
                    <div class="stat-content">
                        <div class="stat-heading color-primary">Growth</div>
                        <div class="stat-text">200%</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="card">
                <div class="stat-widget-five">
                    <div class="stat-icon bg-warning">
                        <i class="ti-world"></i>
                    </div>
                    <div class="stat-content">
                        <div class="stat-heading color-primary">Revenue</div>
                        <div class="stat-text">226000</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-8">
            <div class="card alert">
                <div class="card-header">
                    <h4>Fee Collections and Expenses</h4>
                    <div class="card-header-right-icon">
                        <ul>
                            <li class="card-close" data-dismiss="alert"><i class="ti-close"></i></li>
                            <li class="card-option drop-menu"><i class="ti-settings" data-toggle="dropdown"
                                    aria-haspopup="true" aria-expanded="true" role="link"></i>
                                <ul class="card-option-dropdown dropdown-menu">
                                    <li><a href="#"><i class="ti-loop"></i> Update data</a></li>
                                    <li><a href="#"><i class="ti-menu-alt"></i> Detail log</a></li>
                                    <li><a href="#"><i class="ti-pulse"></i> Statistics</a></li>
                                    <li><a href="#"><i class="ti-power-off"></i> Clear ist</a></li>
                                </ul>
                            </li>
                            <li class="doc-link"><a href="#"><i class="ti-link"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="card-body">
                    <div class="ct-bar-chart m-t-30"></div>
                </div>
            </div>
        </div>

        <div class="col-lg-4">
            <div class="card alert">
                <div class="card-header-right-icon">
                    <ul>
                        <li class="card-close" data-dismiss="alert"><i class="ti-close"></i></li>
                        <li class="card-option drop-menu"><i class="ti-settings" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="true" role="link"></i>
                            <ul class="card-option-dropdown dropdown-menu">
                                <li><a href="#"><i class="ti-loop"></i> Update data</a></li>
                                <li><a href="#"><i class="ti-menu-alt"></i> Detail log</a></li>
                                <li><a href="#"><i class="ti-pulse"></i> Statistics</a></li>
                                <li><a href="#"><i class="ti-power-off"></i> Clear ist</a></li>
                            </ul>
                        </li>
                        <li class="doc-link"><a href="#"><i class="ti-link"></i></a></li>
                    </ul>
                </div>
                <div class="card-body">
                    <div class="ct-pie-chart"></div>
                </div>
            </div>
        </div>
    </div>
</div>