<div class="card alert">
    <!-- <div class="modal"> -->
    <!-- Trigger Button -->
     <div class="">
         <button class="btn btn-primary open fs-6" id="openModalBtn">Add Permission</button>
     </div>

    <!-- Modal Structure -->
    <div class="modal-wrapper" id="myModal">
        <div class="custom-modal">
            <button class="close-btn" id="closeModalBtn">&times;</button>
            <div class="modal-header fs-5">Add New Permission</div>

            <form class="modal-body" method="post" id="addPermission">
                <input type="hidden" id="id" name="id">
                <div class="form-group">
                    <div class="form fs-5">
                        <label for="module">Enter Module:</label>
                        <input type="text" id="module" name="module" placeholder="Module">
                    </div>

                    <div class="form fs-5>
                        <label for="permissionType">Permission Type:</label>
                        <input type="text" class="fs-5" id="permissionType" name="permissionType" placeholder="permission">
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" id="modalCloseFooter">Close</button>
                    <button type="submit" id="submitBtn" class="btn btn-primary">Add</button>
                </div>
            </form>

        </div>
    </div>
    <!-- </div> -->

    <div class="card-header">
        <h4>Permission Lists</h4>
    </div>
    <div class="card-body">
        <div class="table-responsive" style="font-size: 16px;">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Permission Type</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <% if (Object.keys(data).length === 0  ) { %>
                        <p>No Record Found</p>
                    <% } else { %>
                        <% data.map((row, i)=> { %>
                            <tr>
                                <td>
                                    <%= i+1 %>
                                </td>
                                <td>
                                    <%= row.permission %>
                                </td>
                                <td>
                                    <div class="icon">
                                        <span class="ti-trash icon-name delete-btn" data-id="<%= row.id %>"></span>
                                        <span class="ti-pencil icon-name edit-btn" data-id="<%= row.id %>"></span>
                                    </div>
                                </td>
                            </tr>
                        <% }); %>
                    <% } %>
                </tbody>
            </table>
        </div>
    </div>
</div>