<div class="parent">
    <!-- Inward Card -->
    <div class="card mb-4 shadow rounded-2">
        <div class="card-header bg-primary text-white">
            <h5 class="mb-0 fs-6">Inward</h5>
        </div>

        <div class="card-body">
            <form method="post" id="itemsForm">
                <input type="hidden" name="brandName" id="brandName" />
                <div class="row mb-3">
                    <div class="col-md-3 required">
                        <label class="form-label">Barcode(number)</label>
                        <input type="number" id="barcode" name="barcode" class="form-control"
                        placeholder="Enter Barcode">

                        <div class="invalid-feedback">
                            Barcode required!!!
                        </div>
                    </div>
                    <div class="col-md-3 required">
                        <label class="form-label">Brand</label>
                        <select class="form-select form-select-sm select2" id="brand" name="brand">
                            <option value="">Select Brand</option>
                            <!-- Dynamically add brand options here -->
                        </select>

                        <div class="invalid-feedback">
                            Brand required!!!
                        </div>
                    </div>


                    <!-- <input type="text" id="brand" name="brand" class="form-control" placeholder="Enter Brand"> -->

                    <div class="col-md-3 required">
                        <label class="form-label">Batch No</label>
                        <input type="text" id="batch_no" name="batch_no" class="form-control"
                            placeholder="Enter Batch No">

                        <div class="invalid-feedback">
                            Batch no required!!!
                        </div>
                    </div>

                    <div class="col-md-3 required">
                        <label class="form-label">Quantity(number)</label>
                        <input type="number" id="qty" name="qty" class="form-control" placeholder="Enter Quantity">

                        <div class="invalid-feedback">
                            Quantity required!!!
                        </div>
                    </div>
                </div>

                <div class="row mb-3">
                    <div class="col-md-3">
                        <label class="form-label">Damage Qty(number)</label>
                        <input type="number" id="d_qty" name="d_qty" class="form-control" placeholder="0">
                    </div>
                    <div class="col-md-3">
                        <label class="form-label">Shortage Qty(number)</label>
                        <input type="number" id="s_qty" name="s_qty" class="form-control" placeholder="0">
                    </div>
                    <div class="col-md-3">
                        <label class="form-label">Expiry Date</label>
                        <input type="date" id="e_date" name="e_date" class="form-control">
                    </div>
                    <div class="col-md-3 d-flex align-items-end">
                        <button type="submit" class="btn btn-success w-100">Add Item</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <!-- Stock In Item List -->
    <div class="card mb-4 shadow rounded-2">
        <div class="card-header">
            <h5 class="mb-0">Stock In Item List</h5>
        </div>
        <div class="card-body p-0">
            <div class="table-responsive">
                <table class="table table-bordered table-striped mb-0">
                    <thead class="table-dark">
                        <tr>
                            <th>Bar Code</th>
                            <th>Status</th>
                            <th>Category</th>
                            <th>Sub-Category</th>
                            <th>Brand Owner</th>
                            <th>Brand</th>
                            <th>Measure</th>
                            <th>Batch No.</th>
                            <th>Unit</th>
                            <th>Case</th>
                            <th>Expiry</th>
                            <th>Transit Damage</th>
                            <th>Transit Shortage</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody id="inwardItemsBody">
                    </tbody>
                </table>
            </div>
        </div>
        <!-- </div> -->

        <!-- Footer Form -->
        <!-- <div class="card shadow"> -->
        <div class="card-body card-lower">
            <form id="inwardForm" method="post">
                <div class="row g-3">
                    <div class="col-md-3 required">
                        <label for="order_no" class="form-label mb-1 fw-bold">Order No.</label>
                        <input type="text" id="order_no" name="order_no" class="form-control form-control-sm" placeholder="Order / Requisition">

                        <div class="invalid-feedback">
                            Order number required!!!
                        </div>
                    </div>
                    <div class="col-md-3 required">
                        <label for="invoice_no" class="form-label mb-1 fw-bold">Invoice No.</label>
                        <input type="text" id="invoice_no" name="invoice_no" class="form-control form-control-sm" placeholder="Invoice No">

                        <div class="invalid-feedback">
                            Invoice number required!!!
                        </div>
                    </div>
                    <div class="col-md-3">
                        <label for="t_pass_no" class="form-label mb-1 fw-bold">Transport Pass N</label>
                        <input type="text" id="t_pass_no" name="t_pass_no" class="form-control form-control-sm" placeholder="Transport Pass No">
                    </div>
                    <div class="col-md-3 required">
                        <label for="lr_no" class="form-label mb-1 fw-bold">LR No</label>
                        <input type="text" id="lr_no" name="lr_no" class="form-control form-control-sm" placeholder="0">

                        <div class="invalid-feedback">
                            LR number required!!!
                        </div>
                    </div>

                    <div class="col-md-3 required">
                        <label for="vehicle" class="form-label mb-1 fw-bold">Vehicle No</label>
                        <select class="form-select form-select-sm select2" id="vehicle" name="vehicle">
                            <option value="">Select Vehicle</option>
                        </select>
                        <div class="invalid-feedback">
                            Vehicle required!!!
                        </div>
                    </div>

                    <div class="col-md-3 required">
                        <label for="driver" class="form-label mb-1 fw-bold">Driver</label>
                        <select class="form-select form-select-sm select2" id="driver" name="driver">
                            <option value="">Select Driver</option>
                        </select>
                        <div class="invalid-feedback">
                            Driver required!!!
                        </div>
                    </div>

                    <div class="col-md-3">
                        <label for="status" class="form-label mb-1 fw-bold">Status Type</label>
                        <select id="status" name="status" class="form-select form-select-sm">
                            <option value="Local">Local</option>
                            <option value="Import">Import</option>
                            <option value="Custome">Custome</option>
                            <option value="inter_stock">Inter Stock Transfer</option>
                        </select>
                    </div>
                    <div class="col-md-3 required">
                        <label for="indent_no" class="form-label mb-1 fw-bold">Indent No</label>
                        <input type="text" id="indent_no" name="indent_no" class="form-control form-control-sm" placeholder="0">
                    </div>

                    <div class="col-md-12">
                        <button type="submit" class="btn btn-warning btn-sm" style="float: right;">Submit</button>
                    </div>
                </div>
            </form>
        </div>

    </div>
</div>