.parent{
    font-size: 14px !important;
}
.form-control, .form-select{
    font-size: 14px !important;
    height: 30px;
    width: 75%;
}
.card-lower{
    display: none;
}
.table-responsive{
    height: 350px;
    border: 1px solid rgb(222, 226, 230);
}
.btn-sm{
    margin-top: 20px;
}